* {
  font-family: "Droid Sans Mono", monospace;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
}

window#waybar {
  background-color: transparent;
  color: #1e1e2e;
  transition: background-color 0.5s ease;
}

#workspaces {
  background-color: #1e1e2e;
  padding: 0 5.6px 0 0;
}

#workspaces button {
  color: #cad3f8;
  background-color: #1e1e2e;
  margin: 3px 2px;
  padding: 0px 6px;
  opacity: 0.4;
  transition: all 0.1s linear;
}

#workspaces button.active {
  color: #cad3f8;
  background-color: #1e1e2e;
  min-width: 30px;
  opacity: 1;
  transition: all 0.1s linear;
}

#workspaces button:hover {
  opacity: 0.7;
  transition: all 0.1s linear;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#battery,
#pulseaudio,
#backlight,
#custom-weather,
#custom-tlp,
#language {
  color: #a6e3a1;
  background-color: #1e1e2e;
  margin: 0 15px 0 0;
  padding: 0 15px;
}

#network {
  color: #eed49f;
  background-color: #1e1e2e;
  padding: 0 15px;
}

#clock {
  color: #8aadf4;
  background-color: #1e1e2e;
  margin: 0 15px 0 0;
  padding: 0 15px;
}

@keyframes blink {
  from {
    background-color: #1e1e2e;
    color: #a6e3a1;
  }

  to {
    background-color: #f53c3c;
    color: #1e1e2e;
  }
}

#battery.critical:not(.charging) {
  animation: blink 0.5s linear infinite alternate;
}
